 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .container {
     width: 100%;
     height: 50px;
     background-color: #f1b9c4;
     position: fixed;
     top: 0;
 }

 nav {
     width: 1200px;
     height: 40px;
     background-color: #f1b9c4;
     margin: auto;
 }

 nav ul {
     list-style-type: none;
     display: flex;
     direction: rtl;
     flex-direction: row;
 }

 nav ul li a {
     display: block;
     width: 200px;
     text-align: center;
     text-decoration: none;
     font-size: 16pt;
     color: black;
     line-height: 40px;
 }