   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   #container {
       display: flex;
       align-items: center;


   }

   #logo {
       margin: 34px 45px;
   }

   #logo img {
       height: 39px;
       margin: 4px 7px;
   }

   #container ul {
       display: flex;
       flex-direction: row-reverse;
       justify-content: space-between;
       align-items: center;

   }

   #container ul li {
       list-style: none;
       font-size: 14pt;
   }

   #container ul li a {
       display: block;
       padding: 3px 22px;
       border-radius: 20px;
       text-decoration: none;

       font: normal normal normal 20px/29px Heebo;
   }